.content-block {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .content-text {
    color: #333;
    font-size: 1rem;
    text-align: justify;
    max-width: 600px;
    height: auto;
  }
  
  .content-image {
    max-block-size: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }

  .main-block button {
    font-size: 25px;
    width: 150px;
  }