@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.test {
  border: red solid 1px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
}

.primary-btn {
  background-color: #026937;
}

.secondary-btn {
  background-color: #8dc63f;
}

.container {
  border: 2px solid #333;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 70%;
  min-width: 70%;
  height: 90vh;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 90%;
}

.main button {
  font-size: 25px;
  width: 150px;
}

.navbar {
  background-color: #0b5e20;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 10%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
  height: 100%;
}
.navbar-brand img {
  max-width: 10%;
}

.navbar-btns {
  display: flex;
  justify-content: right;
  width: 50%;
}

.navbar-btns .btn{
  margin: 5px;
  font-size: 20px;
  font-family: "Roboto", monospace;
}

.navbar .logo {
  font-size: 1.3em;
  margin: 0 5px;
  font-family: 'Times New Roman', Times, serif;

}
